<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <%= link_to 'Stisla', root_path  %>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <%= link_to 'St', root_path %>
    </div>
    <ul class="sidebar-menu" data-controller="sidebar">
      <li class="<%= active_nav_item('home', 'index') %>">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-fire"></i> <span>Dashboard</span>
        <% end %>
      </li>

      <li class="menu-header">Controllers</li>
      <%= render 'shared/sidebar_dropdown', title: 'Resources', icon: 'fas fa-file-alt' do %>
      <!--
        <li class="<#= active_nav_item('customers', crud_actions) #>">
          <#= link_to 'Customers', customers_path, class: 'nav-link' #>
        </li>
      -->
      <% end %>
    </ul>
  </aside>
</div>
