<%%= form_with(model: <%= model_resource_name %>, data: { controller: 'validation' }, html: { novalidate: true }) do |form| %>
<% attributes.each do |attribute| -%>
  <div class="form-group">
<% unless attribute.field_type == :check_box -%>
    <%%= form.label :<%= attribute.column_name %> %>
<% end -%>
<% if attribute.reference? -%>
    <%%= form.collection_select(:<%= attribute.column_name %>, <%= attribute.name.camelize %>.all, :id, :to_s, {}, { class: "form-control", data: { controller: "select" } }) %>
<% elsif attribute.field_type == :check_box -%>
    <div class="custom-control custom-checkbox">
      <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "custom-control-input" %>
      <%%= form.label :<%= attribute.column_name %>, class: 'custom-control-label' %>
    </div>
<% elsif [:date, :datetime].include?(attribute.type) -%>
    <%%= form.text_field :<%= attribute.column_name %>, value: l(<%= model_resource_name %>.<%= attribute.column_name %>), class: "form-control", data: { controller: "<%= attribute.type %>" } %>
<% elsif [:time, :timestamp].include?(attribute.type) -%>
    <%%= form.text_field :<%= attribute.column_name %>, value: l(<%= model_resource_name %>.<%= attribute.column_name %>, format: :time), class: "form-control", data: { controller: "time" } %>
<% elsif [:float, :decimal].include?(attribute.type) -%>
    <%%= form.text_field :<%= attribute.column_name %>, value: n(<%= model_resource_name %>.<%= attribute.column_name %>), class: "form-control", data: { controller: "decimal" } %>
<% elsif [:integer].include?(attribute.type) -%>
    <%%= form.text_field :<%= attribute.column_name %>, class: "form-control", data: { controller: "integer" } %>
<% else -%>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "form-control" %>
<% end -%>
  </div>
<% end -%>
  <div class="card-footer pl-0">
    <%%= form.submit class: 'btn btn-success' %>
  </div>
<%% end %>
