<section class="section">
  <div class="section-header d-mobile-none">
    <h1><%= plural_table_name.titleize %></h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%%= link_to 'Dashboard', root_path %></div>
      <div class="breadcrumb-item"><%%= link_to '<%= plural_table_name.titleize %>', <%= plural_table_name %>_path %></div>
      <div class="breadcrumb-item">Show <%= singular_table_name.titleize %></div>
    </div>
  </div>

  <div class="section-body">
    <div class="card">
      <div class="card-header">
        <h4>Show <%= singular_table_name.titleize %></h4>
      </div>
      <div class="card-body">
        <dl class="row">
<% attributes.each do |attribute| -%>
          <dt class="col-sm-3"><%= attribute.human_name %>:</dt>
<% if [:date, :datetime].include?(attribute.type) -%>
          <dd class="col-sm-9"><%%= l(@<%= singular_table_name %>.<%= attribute.name %>) %></dd>
<% elsif [:time].include?(attribute.type) -%>
          <dd class="col-sm-9"><%%= l(@<%= singular_table_name %>.<%= attribute.name %>, format: :time) %></dd>
<% elsif [:float, :decimal].include?(attribute.type) -%>
          <dd class="col-sm-9"><%%= np(@<%= singular_table_name %>.<%= attribute.name %>) %></dd>
<% elsif attribute.type == :boolean -%>
          <dd class="col-sm-9"><%%= t(@<%= singular_table_name %>.<%= attribute.name %>) %></dd>
<% else -%>
          <dd class="col-sm-9"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% end -%>
<% end -%>
        </dl>
      </div>
    </div>
  </div>
</section>

<%%= link_to icon('fas fa-edit', 'Edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn btn-icon icon-left btn-warning' %>
<%%= link_to icon('fas fa-arrow-left', 'Back'), <%= plural_table_name %>_path, class: 'btn btn-icon icon-left btn-secondary d-mobile-none' %>

<%% content_for(:page_title, 'Show <%= singular_table_name.titleize %>') %>
